@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-black tracking-wide;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: calc(1.5rem + 0.8vmin);
  margin: 0.5em 0;
  @apply tracking-widest font-bold uppercase;
}
h2 {
  font-size: calc(1.5rem + 0.3vmin);
  margin: 0.5em 0;
  @apply tracking-widest font-bold uppercase;
}

p {
  @apply my-3;
}

a {
  @apply font-semibold tracking-wider;
}

.link {
  @apply tracking-wider transition-colors flex items-center;
}
.link.link-dark {
  @apply text-gray-700 hover:text-gray-900;
}
.link.link-light {
  @apply text-gray-400 hover:text-white;
}
.link.link-dark.disabled {
  @apply text-gray-500 hover:text-gray-500;
}
.link.link-light.disabled {
  @apply text-gray-600 hover:text-gray-600;
}

label {
  display: block;
  margin-bottom: 1em;
  @apply text-sm font-semibold;
}

input[type='radio'],
input[type='radio'] + label {
  display: inline;
  margin-right: 0.75em;
}

input {
  @apply border py-2 px-4 block bg-gray-100 text-sm;
}

.dropdown::after {
  content: '';
  border: 4px solid transparent;
  border-top-color: #98a1a1;
  margin-left: 0.5em;
  @apply transition-colors;
}

.dropdown:hover::after {
  border-top-color: #fff;
}

.sub-menu * {
  display: block;
  width: 100%;
}

.sub-menu {
  padding: 0.5em 0;
}

.sub-menu a {
  padding: 0.5em 1em;
}

.sub-menu a:hover {
  @apply bg-gray-200;
}

.sr-only {
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

.btn {
  @apply text-sm px-4 py-3 inline-block transition-all font-semibold tracking-widest uppercase;
}

.btn.primary {
  @apply shadow-md text-xs text-white bg-gray-700 hover:bg-gray-900 disabled:opacity-30 disabled:cursor-not-allowed;
}

.card {
  @apply rounded border p-3 shadow-md cursor-pointer flex flex-col;
}

.products-grid {
  display: grid;
  gap: 0.75rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.product-layout {
  display: grid;
  gap: 1rem;
}

@media (min-width: 700px) {
  .product-layout {
    gap: 1.5rem;
  }
}

.stock-info-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  align-items: center;
  gap: 1em;
  @apply text-sm font-semibold tracking-widest;
}

@media (min-width: 700px) {
  .product-layout {
    grid-template-columns: 35% 2fr 1fr;
  }
}

.cart-layout {
  display: grid;
  gap: 2rem;
}

.cart-items {
  display: grid;
  gap: 2rem;
}

.cart-item {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr auto;
  grid-template-rows: 1fr auto;
  align-items: start;
  justify-items: start;
}

.cart-item .qty-select {
  grid-area: 2 / 2 / 2 / 3;
  justify-self: end;
}
.cart-item .remove-btn {
  grid-area: 2 / 3 / 2 / 3;
  justify-self: end;
}

.cart-info {
  display: grid;
  grid-template-columns: 1fr;
  align-content: start;
  gap: 2em;
}

@media (min-width: 700px) {
  .cart-layout {
    grid-template-columns: 60% 1fr;
    gap: 8vw;
  }
  .cart-item {
    grid-template-columns: 1fr 2fr auto auto auto;
    align-items: center;
    justify-items: start;
  }

  .cart-item .qty-select {
    grid-area: auto;
  }
  .cart-item .remove-btn {
    grid-area: auto;
  }
}

.placeorder-layout {
  display: grid;
  grid-template-columns: 60% 1fr;
  gap: 2rem;
}
.order-layout {
  display: grid;
  gap: 2rem;
}
.order-layout .cart-item {
  grid-template-columns: auto 3fr 2fr;
  align-items: center;
  justify-items: start;
  gap: 0.5em;
}
.order-layout .cart-item > img {
  height: 50px;
}

.order-summary {
  display: grid;
  align-content: start;
}
.order-summary-items {
  display: grid;
  @apply divide-y;
}
.order-summary-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @apply py-4;
}

.message-box {
  @apply tracking-wider font-normal text-base p-4;
}
.message-box.danger {
  @apply bg-red-100 text-red-900;
}
.message-box.success {
  @apply bg-green-100 text-green-900;
}
.message-box.info {
  @apply bg-blue-100 text-blue-900;
}
.message-box.warning {
  @apply bg-yellow-100 text-yellow-900;
}
