@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: calc(1rem + 0.3vmin);
  margin: 0.5em 0;
  @apply tracking-widest font-bold uppercase;
}

p {
  @apply my-3;
}

.not-visible {
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

.btn {
  @apply p-4 inline-block transition-all font-semibold tracking-wide uppercase shadow-md;
}

.products-grid {
  display: grid;
  gap: 0.75rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.product-layout {
  display: grid;
  gap: 1rem;
}

.stock-info-layout {
  display: grid;
  grid-template-columns: auto 1fr;
  place-content: start;
  place-items: start;
  @apply text-sm font-semibold tracking-widest gap-2;
}

@media (min-width: 700px) {
  .product-layout {
    grid-template-columns: 35% 2fr 1fr;
  }
}
